@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");
#headtog {
  font-size: 5rem;
  font-family: "Rubik Dirt", cursive;
  font-weight: 400;
  margin: auto;
  text-align: center;
  margin-top: -15px;
  color: #2c1338;
  padding-bottom: 2%;
}

#meetin {
  width: 40%;
  margin: auto;
  padding: 2%;
  background-color: white;
  font-family: "GT Haptik Medium", sans-serif;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
h1 {
  background-color: white;
}
#meetin {
  background-color: white;
}
input {
  padding: 8px;
  width: 90%;
  margin-bottom: 15px;
  font-size: 16px;
  background-color: rgba(27, 25, 25, 0.014);
  border: 1px solid grey;
  margin-top: -4%;
}
#nme input {
  width: 90%;
}
button {
  padding: 10px 18px;
  font-size: 17px;
  font-weight: 550;
  background-color: rgb(0, 123, 255);
  color: white;
  border: 0;
  border-radius: 5%;
  margin-left: 29rem;
}
a {
  color: white;
  text-decoration: none;
}

#suss {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  margin: auto;
  width: 25%;
  padding: 2%;
  text-align: center;
  margin-top: 5%;
  font-family: "GT Haptik Medium", sans-serif;
  color: rgb(32, 31, 31);
  margin-top: 4%;
  border-radius: 2%;
}
#btn {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 2%;
}
